@model CarRental.Models.Xe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Xe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" readonly />
            <input type="hidden" asp-for="BienSo" readonly />
            <div class="form-group">
                <label asp-for="BienSo" class="control-label"></label>
                <input asp-for="BienSo" class="form-control" readonly />
                <span asp-validation-for="BienSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenLoai" class="control-label"></label>
                <select asp-for="TenLoai" class="form-control" asp-items="ViewBag.TenLoai"></select>
                <span asp-validation-for="TenLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hinh</label>
                <input asp-for="ImageFile" class="form-control" accept="image/*" />
                <br><img style="width: 250px;" src="@("~/image/"+Model.Hinh)" asp-append-version="true">

                <script>
                    window.addEventListener('load', function () {
                        document.querySelector('input[type="file"]').addEventListener('change', function () {
                            if (this.files && this.files[0]) {
                                var img = document.querySelector('img');
                                img.onload = () => {
                                    URL.revokeObjectURL(img.src);  // no longer needed, free memory
                                }

                                img.src = URL.createObjectURL(this.files[0]); // set src to blob url
                            }
                        });
                    });
                </script>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <select class="custom-select" id="inputGroupSelect01" required asp-for="TrangThai">
                    <option selected>Choose...</option>
                    <option value="Đang thuê">Đang thuê</option>
                    <option value="Còn trống">Còn trống</option>
                </select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
