@model IEnumerable<CarRental.Models.Xe>

@{
    ViewData["Title"] = "RentalCar";
    Layout = "~/Views/Shared/_KhachLayout.cshtml";


}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Danh sách các xe</h1>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@("~/Image/" + item.Hinh)" asp-append-version="true" class="card-img-top" alt="Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.Ten</h5>
                        <p class="card-text"><strong>Giá thuê:</strong> $@item.Gia</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Details", new { id = item.BienSo })" class="btn btn-primary btn-block">Chi Tiết</a>
                        <a href="#" class="btn btn-success btn-block">Thuê</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


