@model IEnumerable<CarRental.Models.Xe>

@{
    ViewData["Title"] = "RentalCar";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="container mt-5">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Thuê Xe Ôtô</h1>
            <p class="lead text-muted">Chào mừng bạn đến với quản lý xe ôtô CarRental. Chúng tôi cung cấp các loại xe ôtô phong cách và đa dạng để đáp ứng nhu cầu của bạn.</p>
        </div>
    </section>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Danh sách các xe</h1>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@("~/Image/" + item.Hinh)" width="150" height="200" asp-append-version="true" class="card-img-top" alt="Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.Ten</h5>
                        <p class="card-text"><strong>Giá thuê:</strong> $@item.Gia</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary btn-block">Chi Tiết</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


